<footer class="footer-clean footer text-center my-5 text-lg-start text-lg-start">

    <div class="container p-4">
  
      <div class="row my-4">
  
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <div
            class="rounded-circle bg-white shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto"
            style="width: 150px; height: 150px;">
            <img src="../assets/SIMBOLO 1.png" class="simbolo1" style="float:right;" height="150" width="150"
              loading="lazy" alt="">
          </div>
        </div>
  
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0 text-center">
          <h5 class="text-uppercase mb-4">Dirección:</h5>
          <ul class="list-unstyled">
            <li>Carrera 15 # 6-47/51</li>
          </ul>
          <br>
          <h5 class="text-uppercase mb-4">Teléfono:</h5>
          <ul>
            <li>602 2371062</li>
          </ul>
        </div>
  
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">Correo Electrónico:</h5>
  
          <ul class="list-unstyled">
            <li class="mb-2">primerabuga@supernotariado.gov.co</li>
            <li class="mb-2">notariaprimeradebuga@yahoo.com</li>
          </ul>
        </div>
  
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">Horarios De Atención:</h5>
  
          <ul class="list-unstyled">
            <li>
              <p class="fas fa-map-marker-alt pe-2">Lunes a Viernes 7:30 A.M a 12:30 P.M
                y de 2:00 P.M a 6:00 P.M.</p>
              <p class="fas fa-map-marker-alt pe-2">Sábados de turno 9:00 A.M a 12:00 M.</p>
            </li>
          </ul>
        </div>
  
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <div class="d-flex align-items-center justify-content-center mb-4 mx-auto" style="width: 150px; height: 150px;">
            <img src="../assets/SIMBOLO 2.png" class="simbolo1" style="float:right;" height="150" width="150"
              loading="lazy" alt="">
          </div>
        </div>
  
      </div>
    </div>
  
  
    <!-- Copyright -->
    <div class="copyright text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2020 Copyright:
      <a class="text-black" href="http://www.notaria1buga.com.co/sitio/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- End of .container -->