<!-- PRUEBA -->
<section class="section services-section " id="services">
    <div class="container">
      <div class="row ">
        <div class="col-lg-5">
          <div class="section-title">
            <h2>Contacto</h2>
          </div>
        </div>
      </div>
  
      <div  class="col-sm-12 col-12">
        <div class="feature-box-1">
          <div class="module">
            <div class="texto">
              
            <p class="color">   
              
              Tel. : 602 2371062
              <br>
              
              <a class="texto" href="mailto:primerabuga@supernotariado.gov.co">primerabuga@supernotariado.gov.co</a>
              <br>
             
              <a class="texto" href="mailto:notaria1buga@ucnc.com.co">notaria1buga@ucnc.com.co</a>
              <br>
              
              <a class="texto" href="mailto:notariaprimeradebuga@yahoo.com">notariaprimeradebuga@yahoo.com</a>
              </p>
          
           
             </div>
        </div>
        </div>
      </div>
      <div class="row">
    
        <!-- ORGANIGRAMA -->
        <div class="col organigrama">
          <div class="card2 col-6 ">
            <img class="imagen3-responsive mx-auto d-block" src="/assets/HORARIO.png" alt="vitateach"/>
            <div class="card-body"> 
                <br>
                <img class="imagen4" src="/assets/HORARIO SABADOS 2022 PEQUEÑO_001.jpg" alt="organigrama"/>
          </div>
        </div>
        </div>
      </div>
  
     
      <div class="row d-flex justify-content-center align-items-center">
  
        
        <!-- feaure box -->
       
        <!-- / -->
   
        <!-- / -->
      </div>
    </div>
  </section>
  