@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

.navbar{
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

.navbar-nav.navbar-center {
  position: relative;
  left: 50%;
  transform: translatex(-50%);
 }

 .logo {
  width: min(50vw, 150px);
  padding: 0;
  float: left;
}

.notario{
  width: min(50vw, 400px);
  padding: 4;
  float: right;
  max-width: 100%;
  height: auto;
  display: block;
}

.activebutton {
  background-color: #bddbfa;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
}

