<!-- NAVBAR -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <img class="navbar-brand logo img-responsive" src="../assets/LOGO.png" alt="">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav navbar-center">
        <li class="nav-item active text-center" aria-current="page" routerLinkActive="activebutton"
          [routerLinkActiveOptions]="{exact: true}"><a class="nav-link active" aria-current="page"
            routerLink="/inicio">INICIO</a></li>
        <li class="nav-item text-center"><a class="nav-link" routerLink="/servicios"
            routerLinkActive="activebutton">SERVICIOS</a></li>
        <li class="nav-item text-center"><a class="nav-link" routerLink="/sobrenosotros"
            routerLinkActive="activebutton">SOBRE NOSOTROS</a></li>
        <li class="nav-item text-center"><a class="nav-link" routerLink="/novedades"
            routerLinkActive="activebutton">NOVEDADES</a></li>
        <li class="nav-item text-center"><a class="nav-link" routerLink="/contacto"
            routerLinkActive="activebutton">CONTACTO</a></li>
      </ul>
    </div>
    <img class="navbar-brand notario img-responsive" src="../assets/NOTARIO.png" alt="">
  </div>
</nav>


<router-outlet></router-outlet>


<!-- FOOTER -->

<div class="footer-clean">
  <footer class="text-center text-lg-start text-black">
    <div class="container my-5">

      <div class="row justify-content-around">
        <div class="col-sm-5 col-md-3 item" >
        <img src="../assets/SIMBOLO 1.png" class="simbolo1" style="float:center;"height="150" loading="lazy" alt="">
      </div>
        <div class="col-sm-5 col-md-3 item text-center">
          <h3>Direccion:</h3>
          <ul>
            <li>Carrera 15 # 6-47/51</li>
          </ul>
          <h3>Telefonoooo:</h3>
          <ul>
            <li>602 2371062</li>
          </ul>
        </div>
        <div class="col-sm-5 col-md-3 item">
          <h3>Fax:</h3>
          <ul>
            <li>No Se Maneja</li>
          </ul>
          <h3>Correo Electronico:</h3>
          <ul>
            <li><p>primerabuga@supernotariado.gov.co</p></li>
          </ul>
        </div>
        <div class="col-sm-5 col-md-3 item">
          <h3>Horarios De Atencion:</h3>
          <ul>
            <li>Lunes a Viernes 7:30 A.M a 12:30 P.M 
              <br> 
             y de 2:00 P.M a 6:00 P.M. 
              <br>
              Sábados de turno 9:00 A.M a 12:00 M.
            </li>
            
          </ul>
        </div>
        <!-- SOCIAL -->
    
        <ul class="wrapper col-lg-3 item social row justify-content-center">
          <li class="icon facebook">
            <span class="tooltip">Facebook</span>
            <span><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></span>
          </li>
          <li class="icon twitter">
            <span class="tooltip">Twitter</span>
            <span><i class="fa fa-twitter"></i></span>
          </li>
          <li class="icon instagram">
            <span class="tooltip">Instagram</span>
            <span><i class="fa fa-instagram"></i></span>
          </li>
          <li class="icon youtube">
            <span class="tooltip">Youtube</span>
            <span><i class="fa fa-youtube"></i></span>
          </li>
          
        </ul>
      </div>
      
    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2022 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">notariaprimeradebuga.com</a>
    </div>
  </footer>
</div>