<header class="row justify-content-center align-items-center">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6 col-sm-4">
        <img class="navbar-brand logo img-fluid" src="../assets/LOGO.png" alt="">
      </div>
      <div class="col-6 col-sm-4 titulo">
        <h4>{{title}}</h4>
      </div>
      <div class="col-6 col-md-4 mx-auto ">
        <img class="navbar-brand notario img-responsive" src="../assets/NOTARIO.png" alt="">
      </div>
    </div>
  </div>

</header>

<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light navbar-static-top">
  <div class="container">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav navbar-center">
        <li class="nav-item text-center" aria-current="page">
          <button (click)="Inicio()" type="button" class="btn btn-outline-blue btn-lg"><i
              class="fa fa-home"></i>INICIO</button>
        <li class="nav-item text-center">
          <button (click)="Servicios()" type="button" class="btn btn-outline-blue btn-lg"><i
              class="fa fa-cog"></i>SERVICIOS</button>
        <li class="nav-item text-center">
          <button (click)="SobreNosotros()" type="button" class="btn btn-outline-blue btn-lg"><i
              class="fa fa-users"></i>SOBRE NOSOTROS</button>
        <li class="nav-item text-center">
          <button (click)="Novedades()" type="button" class="btn btn-outline-blue btn-lg"><i
              class="fa fa-newspaper-o"></i> NOVEDADES</button>
        <li class="nav-item text-center">
          <button (click)="Contacto()" type="button" class="btn btn-outline-blue btn-lg"><i class="fa fa-phone"></i>
            CONTACTO</button>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>



<!-- FOOTER -->
<app-footer></app-footer>





<div (click)="scrollToTop()" class="scroll-to-top" *ngIf="pageYoffset > 1">
  <img class="arrow" src="../assets/up-arrow.png" alt="">
</div>
<!-- End of .container -->