<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <div class="card">
        <div class="face face1">
            <div class="content">
                <a href="../../assets/Resolución No. 755 de 2022.pdf" class="button" download="TARIFAS.pdf">RESOLUCIÓN
                    DE TARIFAS NOTARIALES</a>
                <!--<a href="../../assets/Resolución No. 755 de 2022.pdf"class="btn btn-default"target="_blank"download="download.pdf">Download Now</a>-->
            </div>
        </div>

    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>