

<body>

    <div class="container">
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <a href="../../assets/Resolución No. 755 de 2022.pdf" class="button"  download="TARIFAS.pdf">RESOLUCIÓN DE TARIFAS NOTARIALES</a>
                    <!--<a href="../../assets/Resolución No. 755 de 2022.pdf"class="btn btn-default"target="_blank"download="download.pdf">Download Now</a>-->
                    <a embed href="../../assets/LOMO Y SOLAPAS CURVAS_001.jpg" target="_blank" class="button2"  type="img">COMPENDIO HISTÓRICO</a>
                    <!--<embed src="../../assets/LOMO Y SOLAPAS CURVAS_001.jpg" type="img" width="100%" height="600px">-->
                    <a embed href="../../assets/Proposición No. 29 - MALCH_001.jpg" target="_blank" class="button3"  type="img">CONDECORACIÓNES</a>

                        <!--<img id="image" src="../../assets/LOMO Y SOLAPAS CURVAS_001.jpg" class="button2" onclick="openImg()">-->
                        
                        <!--<a img id="image" href="../../assets/LOMO Y SOLAPAS CURVAS_001.jpg" class="button2" onclick="openImg()">BOTON2</a>
    
                        <script src="./script.js">
                            function openImg(){
                            var image = document.getElementById('image');
                            var source = image.src;
                            window.open(source);
                        }

                        </script>

                        <a img id="image2" href="../../assets/Proposición No. 29 - MALCH_001.jpg" class="button3" target="_blank" onclick="openImg()">BOTON3</a>
    
                        <script src="./script.js">
                        function openImg(){
                        var image = document.getElementById('image2');
                        var source = image.src;
                        window.open(source);
                        }

</script>-->

            </div>

            
    </div>

    </div>


    

        
