<section class="section services-section " id="services">
    <div class="container">
        <div class="section-title">
            <h2>Novedades</h2>
        </div>
    </div>



    <div class="row  justify-content-center align-items-center">

        <div class="col-12 col-lg-5">
            <div class="feature-box-1 text-center">
                <h2 class="text-center"> RESOLUCIÓN DE TARIFAS NOTARIALES</h2>
                <button class="btn btn-primary ">
                    <a href="../../assets/Resolución No. 755 de 2022 (1).pdf"
                        download="TARIFAS.pdf">
                        <span class="btn-download ">
                            <span class="icon-file-text-alt pull-right icon-3x"></span>
                            <span class="text-center text-light">
                                Descargar<br />
                                Tamano: 1.73Mb
                            </span>
                            <span class="icon-cloud-download pull-right icon-3x"></span>
                        </span>
                    </a>
                </button>
            </div>
        </div>

        <div class="col-12 col-lg-5">
            <div class="feature-box-1 text-center">
                <h2 class="text-center">COMPENDIO HISTÓRICO</h2>
                <button class="btn btn-primary">
                    <a embed href="../../assets/LOMO Y SOLAPAS CURVAS_001.jpg" target="_blank">
                        <span class="btn-download ">
                            <span class="icon-file-text-alt pull-right icon-3x"></span>
                            <span class="text-center text-light">
                                Descargar<br />
                                Tamano: 16.0Mb
                            </span>
                            <span class="icon-cloud-download pull-right icon-3x"></span>
                        </span>
                    </a>
                </button>
            </div>
        </div>

        <div class="col-sm-1 col-lg-5">
            <div class="feature-box-1 text-center">

                <h2 class="text-center">CONDECORACIÓNES</h2>
                <button class="btn btn-primary">
                    <a embed href="../../assets/Proposición No. 29 - MALCH_001.jpg" target="_blank">
                        <span>
                            <span class="icon-file-text-alt pull-right icon-3x"></span>
                            <span class="text-center text-light">
                                Descargar<br />
                                Tamano: 1.71Mb
                            </span>
                            <span class="icon-cloud-download pull-right icon-3x"></span>
                        </span>
                    </a>
                </button>

            </div>
        </div>
    </div>

</section>