<body>
    

    <div class="card">
        <img class="imagen1" src="/assets/mision.png" alt="mision,vision" />
        <div class="card-body">
            <div class ="contenedor2">
                <p class="mision">
            
                MISIÓN:<br>
                </p>
                <p class="parrafo1">
                “La Notaría Primera del Círculo de Guadalajara de Buga, Valle, garantiza la prestación del servicio notarial soportado en eficiencia, con talento humano competente y comprometido con criterios de amabilidad, rapidez y calidad, para brindar confianza, credibilidad y seguridad a todos sus usuarios”.
                 </p>
               
                 <p class="mision">
                VISIÓN:<br>

                </p>
                <p class="parrafo2">
                    “Para el año 2020 la Notaría Primera del Círculo de Guadalajara de Buga, Valle, habrá incorporado en todas sus dependencias las tecnologías necesarias para optimizar la prestación del servicio público notarial y ser amigable con el ambiente, con talento humano competente, comprometido en satisfacer plenamente a los usuarios”.
                 <br>
               
            
                </p>
             </div>
        </div>
    </div>
    <!--
    <div class="card2">
        <img class="imagen3" src="https://source.unsplash.com/user/diegyms/300x200" alt="vitateach" />
        <div class="card-body2">
            <img class="imagen4" src="/assets/organigrama.jpg" alt="organigrama" />
            <div>
                
            </div>
        </div>
    </div>
-->

</body>
