<body>
  
    <div class="col-md-8"><h2> Sobre Nosotros</h2>
    </div>
   
    <div class="card">
        <img class="imagen1" src="/assets/mision.png" alt="mision,vision" />
        <div class="card-body">
            <div class ="contenedor2">
                <p class="mision">
            
                MISIÓN<br>
                </p>
                <p class="parrafo1">
                “La Notaría Primera del Círculo de Guadalajara de Buga, Valle, garantiza la prestación del servicio notarial soportado en eficiencia, con talento humano competente y comprometido con criterios de amabilidad, rapidez y calidad, para brindar confianza, credibilidad y seguridad a todos sus usuarios”.
                 </p>
               
                 <p class="mision">
                VISIÓN<br>

                </p>
                <p class="parrafo2">
                    “Para el año 2020 la Notaría Primera del Círculo de Guadalajara de Buga, Valle, habrá incorporado en todas sus dependencias las tecnologías necesarias para optimizar la prestación del servicio público notarial y ser amigable con el ambiente, con talento humano competente, comprometido en satisfacer plenamente a los usuarios”.
                 <br>
               
            
                </p>
             </div>
        </div>
    </div>
    
    <div class="card2">
        <img class="imagen3" src="/assets/ORGANIGRAMA.png" alt="vitateach" />
        <div class="card-body2"> 
            <br>
            <img class="imagen4" src="/assets/organigrama.jpg" alt="organigrama" />
            
            <div>
                
            </div>
        </div>
    </div>
    
    <div class="autowide">

        
        <div class="module2">
            <div class="texto5">
          <p> <br></p>
           <br>
        
             </div>
        </div>
        
        <div class="module">
            <div class="texto7">
            <div class="notario">NOTARIO <br></div>
            <h2 > Miguel Alfredo <br>Ledesma Chavarro</h2>
           
            <a class="texto" href="mailto:Alfredo.Ledesma@notaria1buga.com">Alfredo.Ledesma@notaria1buga.com</a>
             </div>
        </div>
        
        <div class="module">
            <div class="texto5">
          <p> <br></p>
           <br>
         
             </div>
        </div>

        <div class="module">
            <div class="texto3">
            <h2> María Del pilar <br>Ramos Ortiz</h2>
          Registro civil <br>
          <a class="texto" href="mailto:Pilar.Ramos@notaria1buga.com">Pilar.Ramos@notaria1buga.com</a>
            </div>
        </div>
        <div class="module">
            <div class="texto1">
          <h2>Karen Daniela <br> Amador Carrillo</h2>
         Autenticación <br>
          <a class="texto" href="mailto:primerabuga@supernotariado.gov.co">primerabuga@supernotariado.gov.com </a>
            </div>
        </div>
        <div class="module">
            <div class="texto3">
          <h2>Luis Carlos Gasca <br> Padilla</h2>
          Declaraciones extraproceso <br>
          <a class="texto" href="mailto:Luis.Gasca@notaria1buga.com">Luis.Gasca@notaria1buga.com</a>
            </div>
        </div>
        <div class="module">
            <div class="texto1">
            <h2>Ricardo<br> Alberto Alvarez</h2>
            Administrativo <br>
            <a class="texto" href="mailto:primerabuga@supernotariado.gov.co">primerabuga@supernotariado.gov.co</a>
           </div>
        </div>
        <div class="module">
            <div class="texto1">
            <h2>Ányela <br>María Gil Paz</h2>
            Escrituración <br>
            <a class="texto" href="mailto:Anyela.Gil@notaria1buga.com">Anyela.Gil@notaria1buga.com</a>
           </div>
        </div>
        <div class="module">
            <div class="texto3">
            <h2>Lina Paola <br>Hernández Miranda</h2>
            Escrituración <br>
            <a class="texto" href="mailto:Lina.Hernandez@notaria1buga.com">Lina.Hernandez@notaria1buga.com</a>
           </div>
        </div>
        <div class="module">
            <div class="texto1">
          <h2>Pablo Andrés <br> Betacourt Noguera</h2>
          Protocolo <br>
          <a class="texto" href="mailto:Pablo.Betancourt@notaria1buga.com">Pablo.Betancourt@notaria1buga.com</a>
            </div>
        </div>
        <div class="module">
            <div class="texto1">
          <h2>Camilo Andrés <br>Velásquez Duque</h2>
          Protocolo <br>
          <a class="texto" href="mailto:primerabuga@supernotariado.gov.co">primerabuga@supernotariado.gov.co</a>
            </div>
        </div>
        <div class="module">
            <div class="texto1">
          <h2>Maira Alejandra <br>Ramírez Ramos</h2>
          Protocolo <br>
          <a class="texto" href="mailto:primerabuga@supernotariado.gov.co">primerabuga@supernotariado.gov.co</a>
             </div>
        </div>
        <div class="module">
            <div class="texto1">
          <h2>Isabel Cristina <br>Hernández Pérez</h2>
          Protocolo <br>
          <a class="texto" href="mailto:primerabuga@supernotariado.gov.co">primerabuga@supernotariado.gov.co</a>
             </div>
        </div>

        
    </div>   
    
    
</body>
