
<br>

<div class="container">


	<hr class="style2">

	<div class="central rounded mx-auto d-block" >
		<img class="gallery-image" src="/assets/IMG.JPG">
	</div>

	<div class="gallery">

		<div class="gallery-item rounded mx-auto d-block">
			<img class="gallery-image" src="/assets/IMG1.JPG">
		</div>

		<div class="gallery-item rounded mx-auto d-block">
			<img class="gallery-image" src="/assets/IMG2.JPG">
		</div>

		<div class="gallery-item rounded mx-auto d-block">
			<img class="gallery-image" src="/assets/IMG3.JPG">
		</div>

		<div class="gallery-item rounded mx-auto d-block">
			<img class="gallery-image" src="/assets/IMG4.JPG">
		</div>

		<div class="gallery-item rounded mx-auto d-block">
			<img class="gallery-image" src="/assets/IMG5.JPG">
		</div>

		<div class="gallery-item rounded mx-auto d-block">
			<img class="gallery-image" src="/assets/IMG6.JPG">
		</div>

	</div>

</div>


