<section class="section services-section " id="services">
    <div class="container">
        <div class="section-title">
            <h2>Inicio</h2>
        </div>
    </div>
</section>

    <div class="imagen">
        <ng-image-slider [images]="imgCollection" #nav>
        </ng-image-slider>
    </div>


<div class="notario ">
    <h3>MIGUEL ALFREDO LEDESMA CHAVARRO</h3>
</div>
<div class="row">
    <!-- mision-vision -->
    <div class="col mision-vision">
        <div class="card col-6 tarjeta">
            <img class="imagen1" src="/assets/IMG.JPG" alt="Notario" />
            <div class="card-body">
                <div class="contenedor2">
                    <p class="mision">

                        Notario Primero de Guadalajara de Buga, Valle, desde el 11 de abril de 2012
                        <br>
                    </p>
                    <p class="parrafo1">
                        Abogado. U. Santiago de Cali
                        <br>
                        <b>Maestría:</b>
                        <br>
                        Políticas Públicas. U. del Valle
                        <br>
                        <b>Especializaciones:</b>
                        <br>
                        Derecho Penal y Criminología. U Libre, Cali
                        <br>
                        <br>
                        Casación Penal. U. La Gran Colombia, Bogotá
                        <br>
                        <br>
                        Derecho Notarial y Registral. U. Externado de Colombia, Bogotá
                        <br>
                        <br>
                        Argumentación Jurídica. U. Autónoma de Occidente, Cali
                        <br>
                        <br>
                        <b>Autor de los libros:</b>
                        <br>
                        Delitos contra los derechos morales y patrimoniales de autor Casación Penal
                        <br>
                        <br>
                        Compendio Histórico - Notaría Primera Círculo de Guadalajara de Buga
                        <br>
                        <br>
                        Litigante - Ex Fiscal Seccional - Ex Procurador Judicial Penal II - actual Notario Primero de
                        Buga
                        Director Académico (ad-honorem) Fundación Tribunal Jurídica
                        <br>
                        <br>
                        Primer Lugar en el Certamen de Estudios Críticos de la Justicia
                        promovido por el Instituto Iberoamericano de La Haya (Países Bajos)
                        <br><br>
                        Investigador Colciencias
                        <br>
                        Docente
                        <br>
                    </p>
                </div>
            </div>
        </div>
    </div>


    <div class="registro">
        <br>
        <br>
        <H3 center>ADQUIERE SU REGISTRO CIVIL</H3>
    </div>
    <div class="informacion">
        <br>
        <br>
        <h4>
            <li>REGISTRO CIVIL DE NACIMIENTO: </li>
        </h4>

        <b>Certificado de Nacido Vivo original,
            tipo de sangre y copias de las cédulas de ciudadanía de los padres al 150%.</b>
        <br>
        <br>
        <h4>
            <li> REGISTRO CIVIL DE MATRIMONIO: </li>
        </h4>
        <b>Acta de matrimonio o Partida de Matrimonio firmada por el Obispo, Registro civiles autenticados y vigente
            (menores a 3 meses)
        </b>
        <br>
        <b>de cónyuges e hijos si legitimaron, y copias de cédula de ciudadanía de contrayentes al 150%</b>
        <br>
        <br>
        <h4>
            <li> REGISTRO CIVIL DE DEFUNCIÓN: </li>
        </h4>
        <b>Certificado médico u Orden Judicial y fotocopia de cédula del fallecido y de quien comparece al 150%.
        </b>
        <br>
        <br>
        <h4>
            <li> ENVÍO DE REGISTRO A OTRA CIUDAD:</li>
        </h4>
        <b>Consignar $32.000, a la cuenta corriente del banco BBVA a nombre de MIGUEL ALFREDO LEDESMA CHAVARRO,
            enviar el </b>
        <br>
        <b> soporte de pago con nombre completo, dirección con barrio y ciudad,
            teléfono, nombre del inscrito e indicativo serial </b>
        <br>
        <b>o tomo y folio del registro a solicitar al correo electrónico: notariaprimeradebuga@yahoo.com.
        </b>
        <br>
        <br>

    </div>
    <div class="registro">
        <br>
        <br>
        <h4><a href="https://consultasrc.registraduria.gov.co:28080/ProyectoSCCRC">CONOZCA LA OFICINA DE SU REGISTRO</a>
        </h4>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>